---
import FormattedDate from '~/components/FormattedDate.astro';

export interface Props {
  category: string;
  title: string;
  description: string;
  date: Date;
  slug: string;
  image?: string;
}

const { category, title, description, date, slug, image = 'https://placehold.it/360x240' } = Astro.props;
---

<div class="card w-fit p-4 border-2 border-base-content rounded-xl font-work">
  <figure>
    <img src={image} alt={title} class="border-2 border-base-content rounded-xl" width="420" height="240" />
  </figure><div class="card-body py-6 px-2">
    <span
      class="btn no-animation hover:bg-accent hover:text-base-100 hover:border-base-content bg-secondary border-2 border-base-content text-base-900 text-sm px-3 py-2 min-h-fit h-fit rounded-md w-fit capitalize font-medium"
      >{category}</span
    ><h3>
      <a
        class="text-base-content hover:text-accent transition-all duration-300 ease-in-out font-semibold text-lg md:text-xl lg:text-2xl mt-2"
        href={`/blog/${slug}/`}>{title}</a
      >
    </h3>
    <p>
      {description}
    </p>
    <div class="mt-5 flex items-center gap-5 text-base-content/60">
      <p class="text-base"><FormattedDate date={date} /></p>
    </div>
  </div>
</div>
