---
import Layout from "~/layouts/Default.astro";
import PostCard from "~/components/blogs/PostCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
	<section class="flex relative">
		<div class="container mx-auto">
			<div class="flex flex-wrap justify-center -mx-4 mt-28 mb-5">
				<h1 class="text-5xl font-bold uppercase">
					My Recent Blog Posts
				</h1>
			</div>
		</div>
	</section>
	<section class="p-5">
		<div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 lg:gap-10 place-content-center"
		>
			{
				posts.map((post) => (
					<PostCard
						category={post.data.category}
						title={post.data.title}
						description={post.data.description}
						date={post.data.pubDate}
						image={post.data.heroImage}
						slug={post.slug}
					/>
				))
			}
		</div>
	</section>
</Layout>
